*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
i{
    color: white;
    padding:7px;
    
}
span{
    color: white;
}
.items{
    display: flex;
    flex-direction: column;
}
.items:hover{
     background-color: gray;
    padding:5px 15px;
}
